/.metadata/
/.recommenders/
/day49/WebJPA/nbproject/private/
/day49/WebJPA/build/
/day49/WebHibernate/nbproject/private/
/day49/WebHibernate/build/
/day50/WebSpring/nbproject/private/
/day50/WebSpring/dist/
/day50/WebSpring/build/